body{
    position: relative;
    background: linear-gradient(225deg, #1E4F6C 0%, #0E1C34 100%);
    background-image: linear-gradient(225deg, rgb(30, 79, 108) 0%, rgb(14, 28, 52) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

h2{
    color: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

table{
    color: ghostwhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
     'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

#principal{
    color: cornsilk;
    background-color: slateblue;
}

#titulo{
    color: rgb(255, 255, 255);
}

.textoVerde{
    color: rgb(2, 175, 45);
}

.btn-blue {
    display: inline-flex;
    border-radius: 6px;
    background: linear-gradient(29.83deg, #1F95FD 0%, #4FE8E4 100%);
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    padding: 7px 12px;
    white-space: nowrap;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    bottom: 0px;
    transition: bottom 0.1s linear;
}

#cm{
    background-color: darkturquoise;
    width: 1cm;
    height: 1cm;

}

#mm{
    background-color: rgb(127, 23, 148);
    width: 5mm;
    height: 5mm;
}
#in{
    background-color: rgb(250, 0, 146);
    width: 1in;
    height: 1in;
}

#px{
    background-color: rgb(252, 142, 206);
    width: 40px;
    height: 40px;
}

.container{
    font-size: 25px;
    color: floralwhite;
    width: 300px;
    background: forestgreen;
}

.inside{
    font-size: 1em;
    color: floralwhite;
    width: 1em;
    background: rgb(2, 247, 2);
}